dataweave/src/main/mule/dataweave.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1083326e-9b70-438c-a2b8-0b1f5b422774" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dataweaveFlow" doc:id="9c7ff231-3947-4079-b8bd-26ff719420d6" >
		<http:listener doc:name="Listener" doc:id="3220ccae-f550-41df-ac3b-ef263c7f99f7" config-ref="HTTP_Listener_config" path="/"/>
		<ee:transform doc:name="Transform Message" doc:id="05c01dce-8d13-400a-923f-9a0cfaea2a72" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json 
var lName="142"
var obj={a:1,b:2,c:3,d:4}
fun lastName(aString) = upper(aString)
fun fName(firstName) =
if(firstName contains "b") "hai" else "hello"
---

{
	firstName: payload.firstName default [] find /t/,
	fu: fName(payload.firstName),
	lastName: lName,
	age: payload.age as Number,
	Amount: payload.Amount as Number,
	i: 123 as String,
	arraysize: sizeOf([1,2,3]),
	stringSize: sizeOf("mulesoft"),
	objectsize: sizeOf({a:1,b:2}),
	a: flatten([[1],[2,3],[3,2,1]]),
	age: typeOf(payload.age),
	date: now(),
	test: obj.a,
	dateformat: now() as String {format: "dd-MM-yyyy"},
	a:now()
	
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweaveFlow2" doc:id="0711a719-3da7-4010-a441-762be7272c56" >
		<ee:transform doc:name="Transform Message" doc:id="1f2427d7-690d-4809-8fcd-70c72691586a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var a="king"
fun fName(firstName) =
if(firstName contains "b") "hai" else "hello"
---
{
	firstName: if(payload.firstName == "mouli") "complete" else "incomplete",
	lastName: payload.lastName,
	name:a,
	"upper":(upper("me@mulesoft.com") match /([a-z]*)@([a-z]*).com/),
	flatten:[[0.0, 0], [1,1], [2,3], [5,8]],
	age: payload.age,
	"join" : ["m","o","u","l","i"] joinBy "",
	Amount: payload.Amount,
	"NAME":lower("MULESOFT"),
	"NAME1":upper("mulesoft"),
	"ssn" : "mouli" replace /[a-z]/ with("k"),
	"name" : upper("mulesoft"),
	 "withSpaces": trim("    abc    "),
	 "map":["jose", "pedro", "mateo","mouli"] map (m, k) -> { (k) : m},
	 date: daysBetween('2016-10-01T23:57:59-03:00', '2017-10-01T23:57:59-03:00'),
	 a : "a", a : "a", A : "c", a : "d"} distinctBy (value) -> { "unique" : value,
	 	 
	 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweaveFlow1" doc:id="81d10779-2e52-4b3d-8a88-e48205ecefde" >
		<ee:transform doc:name="Transform Message" doc:id="33c06f46-e91b-4834-bd6c-e2c1436cde99" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json

---
{
	firstName: payload.firstName default"" splitBy  "",
	lastName: capitalize(payload.lastName as String),
	a:[0,1,2] zip ["a","b","c"],
	hello : write("world", "text/plain"),
	"ssn" : "mouli" replace /[a-z]/ with("k"),
	"name" : upper("mulesoft"),
	 "withSpaces": trim("    abc    "),
	 "myRange": 1 to 10 ,
	 reduce:[5, 3] reduce ($ + $$),
	
	
	date: daysBetween('2016-10-01T23:57:59-03:00', '2017-10-01T23:57:59-03:00'),
	a : "a", a : "a", A : "c", a : "d"} distinctBy (value) -> { "unique" : value 
		
}

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
